=image_tag "logo_white.svg", :relative => true, :class => "nav-brand p2"

%ul.p2
  %li{class: (current_page.path == "index.html" ? "active": "inactive")}= link_to "Home", "/index.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "about.html" ? "active": "inactive")}= link_to "About", "/about.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "upcoming.html" ? "active": "inactive")}= link_to "Upcoming", "/upcoming.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "previous.html" ? "active": "inactive")}= link_to "Previous", "/previous.html", :relative => true, "class" => "btn block"
