=image_tag "logo_white.svg", :class => "nav-brand p2"

%ul.p2
  %li
    %a.btn.block{"href" => "/"} Home
  %li
    %a.btn.block{"href" => "/upcoming.html"} Upcoming
  %li
    %a.btn.block{"href" => "/previous.html"} Previous

