---
title: About
---

%h1.topheader About

%p Cafe Sci Durham City is a nonprofit organisation dedicated to science outreach in Durham. We run weekly cafes with speakers from Durham University (and others!), who are always happy to chat about their research or science in general afterwards.

%p We meet at 3:45pm each Saturday during term time at Empty Shop.

%p The cafe is ran by Josh Borrow and Owen Haylock, who are Physics and Engineering students respectively. Cafe Sci Durham City was started many years ago by Jamal Kinsella and Tim Wiles, who ran it for a number of years.

%p The cafe is hosted in Empty Shop Durham, who have been providing us with space and help since around May 2014. Empty Shop is a reasonably large venue, meaning our capacity is about 50 people. There is a bar, which you can order drinks and snacks from to graze on during the talk - it wouldn't be much of a cafe otherwise! You can find out more about Empty Shop on their website.

%p The cafe is funded by the Natural Sciences Society and Natural Sciences Department of Durham University, which we are wholefully grateful for. We use the money that they give us to promote future cafes and to buy equipment that we need.

%h2 Contact

%p
  To get updates please follow our
  %a{"href" => "https://www.facebook.com/groups/232051036888252"} facebook group!

%p
  You can e-mail us at
  %a{"href" => "mailto:joshua.borrow@durham.ac.uk"} joshua.borrow@durham.ac.uk

%h2 About the Website

%p This website was designed and built by Josh Borrow. It makes use of the following technologies:
%ul
  %li=link_to "Basscss", "http://www.basscss.com"
  %li=link_to "Middleman", "http://www.middlemanapp.com"

%p
  You can find the source code for the website on
  =link_to "GitHub here.", "https://github.com/JBorrow/Cafe-Sci-2016"
 
