---
title: Upcoming Cafes
---

%h1 Upcoming Cafes

- upcoming = order_cafes(upcoming_cafes)
- upcoming.each do |cafe|
  .flex.flex-wrap.mxn2
    .flex.sm-col-6.lg-col-4.border-box.p2
      .p1.border.rounded.card
        =image_tag cafe.img, :class => "fit"
        =link_to "/cafes/#{cafe.date}.html", :relative => true do
          %h3= cafe.title
          %h4= cafe.nicedate
          %p= cafe.abstract

